body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./images/film.jpeg");
}
/*Header */
html * {
  box-sizing: border-box;
}

.App-header {
  background-color: #0a94be;
  min-height: 10vh;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: row-reverse;
}
header h1 {
  margin: 0 35% 0 27%;
}

header img {
  width: 40px;
}
.App-header user {
  float: left;
}
/*Body */
.App {
  text-align: center;
}

.movie {
  padding: 10px;
  display: inline-block;
  color: white;
}
.con {
  margin: 0 10%;
  justify-content: space-between;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0, 10%;
}
/* search */
.search {
  background-color: black;
  height: auto;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
}
.searchbar {
  border: 1px solid white;
  color: white;
  background-color: black;
}
.film {
  padding: 10px;
  background-color: black;
  border: 1px solid black;
}
.title {
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
}

.movieinfo {
  background-color: white;
  border: 5px ridge#0a94be;
  margin: 5% 25%;
  padding: 1%;
}
/* profile */
.profilelayout {
  background-color: white;
  border: 5px ridge#0a94be;
  margin: 5% 25%;
  padding: 1%;
}
/* ul */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
