body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

<<<<<<< HEAD
  background-image: url("../images/film.jpeg");
=======
  background-image: url('./images/film.jpeg');
>>>>>>> d239d67a323b56833f9e4b7fb1f4417398e35654
}

html * {
  box-sizing: border-box;
}

.App-header {
  background-color: #0a94be;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header user {
  float: right;
}

.movie {
  padding: 10px;
  display: inline-block;
}

.search {
  background-color: #a0a0a0;
  height: auto;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
}
