body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./images/film.jpeg");
}

html * {
  box-sizing: border-box;
}

.App-header {
  background-color: #0a94be;
  min-height: 20vh;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: row;
}

}
.header-object {
  padding: 10px;
}

header img {
  width: 40px;
}
.App-header user {
  float: left;
}
.App {
  text-align: center;
}

.movie {
  padding: 10px;
  display: inline-block;
  color: white;
}
.con {
  margin: 0 10%;
  justify-content: space-between;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0, 10%;
}
.search {
  background-color: #a0a0a0;
  height: auto;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
}
.film {
  padding: 10px;
  background-color: black;
  border: 1px solid black;
}
.title {
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
}
